.idea
.vscode
.idea
__pycache__/*
./__pycache__/*
.env
new_scripts/packages/__pycache__/
covid_br/packages/__pycache__/
covid_br/.ipynb_checkpoints/
covid_br/cases-brazil-cities-time.csv
venv/
scripts/main_copy.py
scripts/graficospiramide.py
covid_br/teste.ipynb
covid_br/get_df_campis.ipynb
teste_2.html
grafico.html
vacinas.html