{% extends "temp_base_b.html" %}

{% block content %}
<main>
    <section class="parte1">
        <div class="slide">
            <div class="car">
                <div class="nome-da-cidade-box">
                    <h4>
                        REDENÇÃO
                    </h4>
                </div>

                <div class="informacoes">
                    <div class="infos">
                        <p class="nome">
                            Casos
                        </p>

                        <p class="numero">
                            {{ total_case_redencao | safe }}
                        </p>
                    </div>

                    <span></span>

                    <div class="infos">
                        <p class="nome">
                            Obitos
                        </p>

                        <p class="numero">
                            {{ total_death_redencao | safe }}
                        </p>
                    </div>

                    <span></span>

                    <div class="atualizacao">
                        <p class="nome">
                            Ultima Atualizacao
                        </p>

                        <p class="data">
                            {{ last_actualization_redencao | safe }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="car">
                <div class="nome-da-cidade-box">
                    <h4>
                        ACARAPE
                    </h4>
                </div>

                <div class="informacoes">
                    <div class="infos">
                        <p class="nome">
                            Casos
                        </p>

                        <p class="numero">
                            {{ total_case_acarape | safe }}
                        </p>
                    </div>

                    <span></span>

                    <div class="infos">
                        <p class="nome">
                            Obitos
                        </p>

                        <p class="numero">
                            {{ total_death_acarape | safe }}
                        </p>
                    </div>

                    <span></span>

                    <div class="atualizacao">
                        <p class="nome">
                            Ultima Atualizacao
                        </p>

                        <p class="data">
                            {{ last_actualization_acarape | safe }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="car">
                <div class="nome-da-cidade-box">
                    <h4>
                        SF DO CONDE
                    </h4>
                </div>

                <div class="informacoes">
                    <div class="infos">
                        <p class="nome">
                            Casos
                        </p>

                        <p class="numero">
                            {{ total_case_SFC | safe }}
                        </p>
                    </div>

                    <span></span>

                    <div class="infos">
                        <p class="nome">
                            Obitos
                        </p>

                        <p class="numero">
                            {{ total_death_SFC | safe }}
                        </p>
                    </div>

                    <span></span>

                    <div class="atualizacao">
                        <p class="nome">
                            Ultima Atualizacao
                        </p>

                        <p class="data">
                            {{ last_actualization_SFC | safe }}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="parte2">
        <div class="container2">
            <div class="graficos">
                {{ confirmated_acarape | safe }}
            </div>
            <div class="graficos">
                {{ death_acarape | safe }}
            </div>
            <div class="graficos">
                {{ confirmated_redencao | safe }}
            </div>
            <div class="graficos">
                {{ death_redencao | safe }}
            </div>
            <div class="graficos">
                {{ confirmated_SFC | safe }}
            </div>
            <div class="graficos">
                {{ death_SFC | safe }}
            </div>
        </div>
    </section>

</main>    
{% endblock %}