@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

:root
{
    --branco: #fff;
    --card-bacground: rgba(255, 255, 255, 0);
    --branco2: #CCCCCC;
    --branco3: #A2A2A2;
    --escuro: #333;
    --preto: #000;

   
    --sobra: 0px 24px 74px rgba(0, 0, 0, 0.219);
    


}

*
{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*===========================Main================================*/

body
{
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    width: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
    background-color: #000;
    border-radius: 5px;
}

main section.parte1
{
    background: #ffffff ;
    display: flex;
    align-items: center;

}

main section.parte1.ativo
{
    margin-top: 100px;
}

main section.parte1 .slide::-webkit-scrollbar
{
    height: 5px;
    background-color: transparent;
}

main section.parte1 .slide::-webkit-scrollbar-thumb
{
    background-color: #000;
    border-radius: 5px;
}

main section.parte1 .slide
{
    width: 100%;
    padding-inline: 20px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding-block: 100px ;

}

main section.parte1 .slide::-webkit-scrollbar-track
{
    background: transparent;
    
}

main section.parte1 .slide::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--preto);
}

main section.parte1 .slide .car
{
    width: 200px;
    height: 288px;
    border-radius: 20px;
   
   
    background: var(--branco);
    backdrop-filter: blur(10px);
    box-shadow: var(--sobra);
}

main section.parte1 .slide .car .nome-da-cidade-box 
{
    padding: 15px 10px;
    background: var(--preto);
    color: var(--branco);
    border-radius: 20px;
}

main section.parte1 .slide .car .nome-da-cidade-box h4
{
    width: 100%;
    height: 100%;
    text-align: center;
}

main section.parte1 .slide .car .informacoes
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.parte1 .slide .car .informacoes span
{
    width: 90%;
    height: 1px;
    background: var(--preto);
    margin-block: 10px;
}

main section.parte1 .slide .car .informacoes .infos
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main section.parte1 .slide .car .informacoes .infos .nome
{
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

main section.parte1 .slide .car .informacoes .infos .numero
{
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
}

main section.parte1 .slide .car .informacoes .atualizacao
{
    margin-bottom: 10px;
}

main section.parte1 .slide .car .informacoes .atualizacao .nome
{
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

main section.parte1 .slide .car .informacoes .atualizacao .data
{
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
}




/*=====================Parte2===================*/
main section.parte2
{
    position: relative;
    width: 100%;
    height: 500px;
    background: var(--branco);
}


/*-----------------------RESPONSIVIDADE --------------------------*/

@media screen and (max-width: 750px)
{
    main section.parte1 .slide
    {
        justify-content: space-between;
        gap: 30px;
        overflow-x: scroll;
    }

    main section.parte1 .slide .card .nome-da-cidade-box h4
    {
        font-size: .8em;
    }

    main section.parte1 .slide .card:nth-child(3) .nome-da-cidade-box h4
    {
        font-size: .7em;
    }

    main section.parte1 .slide .card .informacoes .infos .nome
    {
        font-size: .9em;
    }

    main section.parte1 .slide .card .informacoes .infos .numero
    {
        font-size: 1em;
    }

    main section.parte1 .slide .card .informacoes .atualizacao .nome
    {
        font-size: .9em;
        padding-inline: 10px;
    }

    main section.parte1 .slide .card .informacoes .atualizacao .data
    {
        font-size: .9em;
    }
    
}

.container2{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}




